export GO_BOOK_CONF=${GOPATH}/src/github.com/hiromaily/go-book-teacher/configs/default.toml
export GO_BOOK_JSON=${GOPATH}/src/github.com/hiromaily/go-book-teacher/configs/teacher/default.json
#export 'ENC_KEY=xxxxxxxxxxzzzzzz'
#export 'ENC_IV=xxxxxxxxxxzzzzzz'
