export GO_BOOK_CONF=${GOPATH}/src/github.com/hiromaily/go-book-teacher/configs/text-console.toml
export GO_BOOK_JSON=${GOPATH}/src/github.com/hiromaily/go-book-teacher/configs/teacher/teachers.json
#export 'ENC_KEY=xxxxxxxxxxzzzzzz'
#export 'ENC_IV=xxxxxxxxxxzzzzzz'
